Predecir la cantidad de productos por vuelo
Importamos librerias y cargamos el primer dataset Sales, para verlo y limpiarlo

In [35]:
import pandas as pd
import matplotlib as plt
import numpy as np

df = pd.read_csv("Sales TEC_Valid.csv")

Eliminamos los valores de ProductType que no nos importen

In [36]:
types_to_include = [
    "Botanas",
    "Refrescos",
    "Perecederos",
    "Galletas",
    "Bebidas Calientes",
    "Sopas",
    "Lacteos",
    "Alimentos Charter"
]

df = df[df['ProductType'].isin(types_to_include)]

Transformamos el df para que solo aparezca una vez cada vuelo, dejamos el id del vuelo y a cada vuelo le añadimos los articulos que se consumen.

In [37]:
df = df.pivot_table(index='Flight_ID', columns='ProductName', values='Quantity', fill_value=0)

# Resetear el índice para que Flight_ID sea una columna nuevamente
df.reset_index(inplace=True)
df

ProductName,Flight_ID,Agua Natural 600 Ml,Arandano,Arandano Mango Mix,Arcoiris,Cafe 19 Cafe Clasico,Cafe 19 Capuchino,Cafe 19 Chiapas,Cafe Costa,Cafe De Olla,...,Sabritas Originales,Salsa Botanera,Sidral Mundet,Sprite,Te Frutos Rojos,Te Manzanilla Jengibre,Te Relax,Te Vainilla,Tostitos,Tostitos Nachos Con Dip
0,00004a718edba9d9ef878d08f02ae057,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0000cd79c0c3a9c309df6064dcacaeea,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,000163f0df9cbfc35c4c06645ec512f6,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00017be73003a570dd426b155762769c,8.0,0.0,1.0,0.0,0.0,2.0,0.0,4.0,0.0,...,12.0,0.0,2.0,8.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0001a43836c338f8d8650aefb11672c9,3.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,...,3.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108448,fffe47f84ecc55da94b2907a7317dd12,15.0,0.0,0.0,1.0,0.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,4.0,0.0
108449,fffe4a9c19ae2320e76f02939fdff957,4.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,4.0,0.0,1.0,4.0,0.0,0.0,0.0,0.0,1.0,0.0
108450,ffff138536f249f69340e0a8336f94a4,5.0,0.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,...,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
108451,ffff782f2ae79e385a016c00fbd994b8,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
108452,ffff881a59bc5274e97ea3c4de344e05,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Cargamos los datos de Flights, pero ahora ya limpios y listos para añadirlos a nuestro df

In [38]:
df2 = pd.read_csv('datosvuelosfinal.csv')

# Realizar un inner join
combined_df = pd.merge(df, df2, on='Flight_ID', how='inner')
combined_df = combined_df.drop(combined_df.columns[74], axis=1)

# Guardar el DataFrame combinado en un nuevo archivo CSV
#combined_df.to_csv('dataset_combinado.csv', index=False)

In [39]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104526 entries, 0 to 104525
Data columns (total 99 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Flight_ID                               104526 non-null  object
 1   Agua Natural 600 Ml                     104526 non-null  float64
 2   Arandano                                104526 non-null  float64
 3   Arandano Mango Mix                      104526 non-null  float64
 4   Arcoiris                                104526 non-null  float64
 5   Cafe 19 Cafe Clasico                    104526 non-null  float64
 6   Cafe 19 Capuchino                       104526 non-null  float64
 7   Cafe 19 Chiapas                         104526 non-null  float64
 8   Cafe Costa                              104526 non-null  float64
 9   Cafe De Olla                            104526 non-null  float64
 10  Carne Seca Habanero                     104526 non-null  float64
 11  Carne Seca Original                     104526 non-null  float64
 12  Cheetos                                 104526 non-null  float64
 13  Cheetos Flamin Hot                      104526 non-null  float64
 14  Chokis                                  104526 non-null  float64
 15  Ciel Mineralizada                       104526 non-null  float64
 16  Club Sandwich                           104526 non-null  float64
 17  Coca Cola Dieta                         104526 non-null  float64
 18  Coca Cola Regular                       104526 non-null  float64
 19  Coca Sin Azucar                         104526 non-null  float64
 20  Cuerno Clasico De Pavo                  104526 non-null  float64
 21  Cuerno Individual Charter               104526 non-null  float64
 22  Dip De Queso                            104526 non-null  float64
 23  Doritos Nacho                           104526 non-null  float64
 24  Eco Holder                              104526 non-null  float64
 25  Emperador Chocolate                     104526 non-null  float64
 26  Emperador Vainilla                      104526 non-null  float64
 27  Fanta De Naranja                        104526 non-null  float64
 28  Fritos Limon Y Sal                      104526 non-null  float64
 29  Frutos Secos Enchilados                 104526 non-null  float64
 30  Galleta De Arandano Relleno De Q/Crema  104526 non-null  float64
 31  Galleta De Chispas De Chocolate         104526 non-null  float64
 32  Galleta De Chocolate                    104526 non-null  float64
 33  Go Nuts                                 104526 non-null  float64
 34  Gomita Enchilada La Cueva               104526 non-null  float64
 35  Jugo De Mango                           104526 non-null  float64
 36  Jugo De Manzana                         104526 non-null  float64
 37  Kacang Flaming Hot                      104526 non-null  float64
 38  Leche De Chocolate Sc                   104526 non-null  float64
 39  Leche De Fresa Sc                       104526 non-null  float64
 40  Luxury Nut Mix                          104526 non-null  float64
 41  Mafer Sin Sal                           104526 non-null  float64
 42  Maxi Combo                              104526 non-null  float64
 43  Mega Cuerno Clasico                     104526 non-null  float64
 44  Muffin Integral                         104526 non-null  float64
 45  Nishikawa Japones                       104526 non-null  float64
 46  Nishikawa Salado                        104526 non-null  float64
 47  Nissin Dark Dragon                      104526 non-null  float64
 48  Nissin Fuego                            104526 non-null  float64
 49  Nissin Limon Y Habanero                 104526 non-null  float64
 50  Nissin Picante                          104526 non-null  float64
 51  Nissin Res                              104526 non-null  float64
 52  Nueces De Arbol Mix                     104526 non-null  float64
 53  Nutty Berry Mix                         104526 non-null  float64
 54  Panini Clasico                          104526 non-null  float64
 55  Panini Integral                         104526 non-null  float64
 56  Protein Adventure                       104526 non-null  float64
 57  Quaker Avena Frutos Rojos               104526 non-null  float64
 58  Quaker Avena Moras                      104526 non-null  float64
 59  Quaker Granola                          104526 non-null  float64
 60  Quaker Natural Balance                  104526 non-null  float64
 61  Rancheritos                             104526 non-null  float64
 62  Ruffles Queso                           104526 non-null  float64
 63  Sabritas Flamin Hot                     104526 non-null  float64
 64  Sabritas Originales                     104526 non-null  float64
 65  Salsa Botanera                          104526 non-null  float64
 66  Sidral Mundet                           104526 non-null  float64
 67  Sprite                                  104526 non-null  float64
 68  Te Frutos Rojos                         104526 non-null  float64
 69  Te Manzanilla Jengibre                  104526 non-null  float64
 70  Te Relax                                104526 non-null  float64
 71  Te Vainilla                             104526 non-null  float64
 72  Tostitos                                104526 non-null  float64
 73  Tostitos Nachos Con Dip                 104526 non-null  float64
 74  Passengers                              104526 non-null  float64
 75  Bookings                                104526 non-null  float64
 76  tiempoVuelo                             104526 non-null  float64
 77  Destination_Type_Ciudad Fronteriza      104526 non-null  bool
 78  Destination_Type_Ciudad Principal       104526 non-null  bool
 79  Destination_Type_Ecoturismo             104526 non-null  bool
 80  Destination_Type_MX Amigos y Familia    104526 non-null  bool
 81  Destination_Type_Playa                  104526 non-null  bool
 82  Origin_Type_Ciudad Fronteriza           104526 non-null  bool
 83  Origin_Type_Ciudad Principal            104526 non-null  bool
 84  Origin_Type_Ecoturismo                  104526 non-null  bool
 85  Origin_Type_MX Amigos y Familia         104526 non-null  bool
 86  Origin_Type_Playa                       104526 non-null  bool
 87  hour_sinSalida                          104526 non-null  float64
 88  hour_cosSalida                          104526 non-null  float64
 89  day_of_week_sinSalida                   104526 non-null  float64
 90  day_of_week_cosSalida                   104526 non-null  float64
 91  month_sinSalida                         104526 non-null  float64
 92  month_cosSalida                         104526 non-null  float64
 93  hour_sinLlegada                         104526 non-null  float64
 94  hour_cosLlegada                         104526 non-null  float64
 95  day_of_week_sinLlegada                  104526 non-null  float64
 96  day_of_week_cosLlegada                  104526 non-null  float64
 97  month_sinLlegada                        104526 non-null  float64
 98  month_cosLlegada                        104526 non-null  float64
dtypes: bool(10), float64(88), object(1)
memory usage: 72.0+ MB

Se escalan los datos, pero solo los datos de entrada. De esta manera podemos tener una mejor manera para entrenar con datos pequeños.

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

'''output_columns = [col for col in combined_df.columns if 'Agua Natural 600 Ml' <= col <= 'Tostitos Nachos Con Dip']
input_columns = combined_df.columns  # Excluye las primeras dos columnas
input_columns = [col for col in input_columns if col not in output_columns]
'''

X = combined_df.iloc[:,74:]
y = combined_df.iloc[:, 1:74]


# División de datos
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Normalización de características
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

Contar ceros en todas las columnas

In [41]:
# Contar ceros en todas las columnas
#pd.set_option('display.max_rows', None)  # O establecer un número específico mayor


zeros_count_per_column = y.eq(0).sum()
print("Número de ceros por columna:")
#zeros_count_per_column
zeros_count_per_column.sort_values(ascending=False)

Número de ceros por columna:

Kacang Flaming Hot           104525
Gomita Enchilada La Cueva    104525
Club Sandwich                104525
Nissin Limon Y Habanero      104523
Cuerno Individual Charter    104523
                              ...
Doritos Nacho                 34506
Ruffles Queso                 34194
Sabritas Originales           24740
Coca Cola Regular             11094
Agua Natural 600 Ml           10616
Length: 73, dtype: int64

In [42]:
X_train_scaled = np.array(X_train_scaled).astype('float32')
X_test_scaled = np.array(X_test_scaled).astype('float32')

# Convierte las etiquetas de salida a float32
y_train = np.array(y_train).astype('float32')
y_test = np.array(y_test).astype('float32')

In [43]:
#pip install tensorflow

Creamos un modelo secuencial de tres layers, las tres de manera no lineal. El layer de salida es del tamaño de todos los datos a predecir, que son los artivulos por cada vuelo.

In [44]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
# Construcción del modelo
# Construcción del modelo

model = Sequential([
    Dense(128, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    Dense(64, activation='relu'),
    Dense(32, activation='relu'),
    Dense(y_train.shape[1], activation='linear')  # Uso de activación lineal para regresión
])

# Compilación del modelo
model.compile(optimizer=Adam(learning_rate=0.001), loss='mse', metrics=['mae'])

/opt/anaconda3/envs/tecmx/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [45]:
# Entrenamiento del modelo
history = model.fit(X_train_scaled, y_train, epochs=50, batch_size=32,validation_split=0.1)

# Evaluación del modelo
loss, mae = model.evaluate(X_test_scaled, y_test)
print(f'Test Loss: {loss}, Test MAE: {mae}')

Epoch 1/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 2s 481us/step - loss: 1.6720 - mae: 0.5783 - val_loss: 1.4307 - val_mae: 0.5298
Epoch 2/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 433us/step - loss: 1.3746 - mae: 0.5292 - val_loss: 1.3766 - val_mae: 0.5388
Epoch 3/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 442us/step - loss: 1.3124 - mae: 0.5170 - val_loss: 1.3422 - val_mae: 0.5090
Epoch 4/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 422us/step - loss: 1.2940 - mae: 0.5132 - val_loss: 1.3388 - val_mae: 0.5072
Epoch 5/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 418us/step - loss: 1.2830 - mae: 0.5093 - val_loss: 1.3267 - val_mae: 0.5275
Epoch 6/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 413us/step - loss: 1.2689 - mae: 0.5079 - val_loss: 1.2927 - val_mae: 0.5059
Epoch 7/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 413us/step - loss: 1.2525 - mae: 0.5051 - val_loss: 1.3314 - val_mae: 0.5058
Epoch 8/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 412us/step - loss: 1.2529 - mae: 0.5062 - val_loss: 1.3041 - val_mae: 0.5105
Epoch 9/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 410us/step - loss: 1.2306 - mae: 0.5018 - val_loss: 1.3005 - val_mae: 0.5064
Epoch 10/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 442us/step - loss: 1.2346 - mae: 0.5014 - val_loss: 1.2881 - val_mae: 0.5048
Epoch 11/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 409us/step - loss: 1.2405 - mae: 0.5024 - val_loss: 1.2730 - val_mae: 0.5086
Epoch 12/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 408us/step - loss: 1.2226 - mae: 0.5004 - val_loss: 1.2756 - val_mae: 0.5075
Epoch 13/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 409us/step - loss: 1.2322 - mae: 0.5005 - val_loss: 1.2770 - val_mae: 0.5032
Epoch 14/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 407us/step - loss: 1.2231 - mae: 0.4992 - val_loss: 1.2910 - val_mae: 0.5161
Epoch 15/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 434us/step - loss: 1.2171 - mae: 0.4985 - val_loss: 1.2750 - val_mae: 0.4994
Epoch 16/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 409us/step - loss: 1.2115 - mae: 0.4976 - val_loss: 1.2641 - val_mae: 0.5028
Epoch 17/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 403us/step - loss: 1.2163 - mae: 0.4989 - val_loss: 1.2633 - val_mae: 0.5054
Epoch 18/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 408us/step - loss: 1.2055 - mae: 0.4963 - val_loss: 1.2735 - val_mae: 0.5057
Epoch 19/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 434us/step - loss: 1.2125 - mae: 0.4973 - val_loss: 1.2764 - val_mae: 0.4983
Epoch 20/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 403us/step - loss: 1.2008 - mae: 0.4946 - val_loss: 1.2882 - val_mae: 0.5194
Epoch 21/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 421us/step - loss: 1.2014 - mae: 0.4948 - val_loss: 1.2739 - val_mae: 0.4991
Epoch 22/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 430us/step - loss: 1.1941 - mae: 0.4949 - val_loss: 1.2708 - val_mae: 0.5007
Epoch 23/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 443us/step - loss: 1.1962 - mae: 0.4949 - val_loss: 1.2686 - val_mae: 0.5009
Epoch 24/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 402us/step - loss: 1.2002 - mae: 0.4960 - val_loss: 1.2612 - val_mae: 0.4983
Epoch 25/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 403us/step - loss: 1.2031 - mae: 0.4952 - val_loss: 1.2586 - val_mae: 0.4985
Epoch 26/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 402us/step - loss: 1.2009 - mae: 0.4962 - val_loss: 1.2764 - val_mae: 0.5112
Epoch 27/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 428us/step - loss: 1.1967 - mae: 0.4949 - val_loss: 1.2596 - val_mae: 0.4968
Epoch 28/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 416us/step - loss: 1.1935 - mae: 0.4937 - val_loss: 1.2709 - val_mae: 0.5044
Epoch 29/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 399us/step - loss: 1.1807 - mae: 0.4930 - val_loss: 1.2628 - val_mae: 0.5057
Epoch 30/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 413us/step - loss: 1.1956 - mae: 0.4952 - val_loss: 1.2801 - val_mae: 0.5062
Epoch 31/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 438us/step - loss: 1.1970 - mae: 0.4956 - val_loss: 1.2670 - val_mae: 0.5047
Epoch 32/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 426us/step - loss: 1.1865 - mae: 0.4940 - val_loss: 1.2603 - val_mae: 0.5056
Epoch 33/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 419us/step - loss: 1.1910 - mae: 0.4947 - val_loss: 1.2567 - val_mae: 0.5015
Epoch 34/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 418us/step - loss: 1.1840 - mae: 0.4933 - val_loss: 1.2587 - val_mae: 0.5042
Epoch 35/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 429us/step - loss: 1.1826 - mae: 0.4923 - val_loss: 1.2725 - val_mae: 0.4976
Epoch 36/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 402us/step - loss: 1.1895 - mae: 0.4945 - val_loss: 1.2557 - val_mae: 0.4947
Epoch 37/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 411us/step - loss: 1.1816 - mae: 0.4918 - val_loss: 1.2638 - val_mae: 0.5052
Epoch 38/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 403us/step - loss: 1.1839 - mae: 0.4941 - val_loss: 1.2595 - val_mae: 0.5117
Epoch 39/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 401us/step - loss: 1.1773 - mae: 0.4927 - val_loss: 1.2565 - val_mae: 0.5023
Epoch 40/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 442us/step - loss: 1.1912 - mae: 0.4946 - val_loss: 1.2547 - val_mae: 0.5005
Epoch 41/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 402us/step - loss: 1.1747 - mae: 0.4924 - val_loss: 1.2641 - val_mae: 0.4919
Epoch 42/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 419us/step - loss: 1.1782 - mae: 0.4934 - val_loss: 1.2658 - val_mae: 0.5060
Epoch 43/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 427us/step - loss: 1.1707 - mae: 0.4914 - val_loss: 1.2642 - val_mae: 0.4964
Epoch 44/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 449us/step - loss: 1.1747 - mae: 0.4917 - val_loss: 1.2587 - val_mae: 0.5009
Epoch 45/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 429us/step - loss: 1.1792 - mae: 0.4927 - val_loss: 1.2584 - val_mae: 0.5051
Epoch 46/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 477us/step - loss: 1.1683 - mae: 0.4923 - val_loss: 1.2563 - val_mae: 0.4993
Epoch 47/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 449us/step - loss: 1.1630 - mae: 0.4918 - val_loss: 1.2532 - val_mae: 0.5029
Epoch 48/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 430us/step - loss: 1.1850 - mae: 0.4933 - val_loss: 1.2558 - val_mae: 0.5036
Epoch 49/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 483us/step - loss: 1.1717 - mae: 0.4929 - val_loss: 1.2676 - val_mae: 0.5020
Epoch 50/50
2352/2352 ━━━━━━━━━━━━━━━━━━━━ 1s 489us/step - loss: 1.1700 - mae: 0.4920 - val_loss: 1.2703 - val_mae: 0.5046
654/654 ━━━━━━━━━━━━━━━━━━━━ 0s 254us/step - loss: 1.2408 - mae: 0.5013
Test Loss: 1.2328065633773804, Test MAE: 0.5008965134620667

In [46]:
from sklearn.metrics import mean_squared_error, r2_score


scaler_X = StandardScaler()  # O MinMaxScaler()
scaler_Y = StandardScaler()  # O MinMaxScaler()
# Predicción y desescalado para obtener resultados en la escala original

y_pred_scaled = model.predict(X_test_scaled)
#y_pred = scaler_Y.inverse_transform(y_pred_scaled)

# Métricas adicionales
mse = mean_squared_error(y_test, y_pred_scaled)
r2 = r2_score(y_test, y_pred_scaled)

print(f'Mean Squared Error: {mse}, R2 Score: {r2}')

654/654 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step
Mean Squared Error: 1.2328035831451416, R2 Score: 0.15621340326013042

El valor de MSE queda pequeño, sin embargo en el contexto del problema resulta ser muy grande, ya que la mayoria de articulos no son vendidos.Esto causa que el R2 score sea muy pequeño, ya que como la mayoria son ceros, que sse caluclo aunque sea uno, causa mucha diferencia. Sin embargo, consideramos que es es el mejor modelo que podemos conseguir.

Des escalamos los datos.

In [47]:
y_pred_scaled_round= np.round(y_pred_scaled).astype(int)
y_pred_scaled_round

array([[4, 0, 0, ..., 0, 1, 0],
       [4, 0, 0, ..., 0, 0, 0],
       [4, 0, 0, ..., 0, 0, 0],
       ...,
       [6, 0, 0, ..., 0, 0, 0],
       [4, 0, 0, ..., 0, 1, 0],
       [2, 0, 0, ..., 0, 0, 0]])

In [48]:
df3 = pd.read_csv('dataset2024_pass_predicted.csv')

In [49]:
df3_x=df3.drop(columns=['Flight_ID'])

In [50]:
df3_x1=df3_x.drop(columns=['Capacity'])
df3_x1.reset_index(drop=True, inplace=True)

In [51]:
new_column_order = ['Expected_Passengers', 'Expected_Bookings'] + [col for col in df3_x1.columns if col not in ['Expected_Passengers', 'Expected_Bookings']]

df3_x1 = df3_x1[new_column_order]

Hacemos la predicción para los vuelos de 2024

In [52]:

#combined_df = pd.merge(df, df2, on='Flight_ID', how='inner')
#combined_df = combined_df.drop(combined_df.columns[74], axis=1)
df3_x1.rename(columns={'Expected_Passengers': 'Passengers', 'Expected_Bookings': 'Bookings'}, inplace=True)
df3_x1 = scaler.fit_transform(df3_x1)
df3_x1 = np.array(df3_x1).astype('float32')

y_pred_2024 = model.predict(df3_x1)

54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [53]:
y_pred_2024= np.round(y_pred_2024).astype(int)
y_pred_2024

array([[2, 0, 0, ..., 0, 0, 0],
       [3, 0, 0, ..., 0, 0, 0],
       [3, 0, 0, ..., 0, 0, 0],
       ...,
       [6, 0, 0, ..., 0, 1, 0],
       [5, 0, 0, ..., 0, 1, 0],
       [6, 0, 0, ..., 0, 1, 0]])

In [54]:
new_column_names = [
    "Agua Natural 600 Ml", "Arandano", "Arandano Mango Mix", "Arcoiris",
    "Cafe 19 Cafe Clasico", "Cafe 19 Capuchino", "Cafe 19 Chiapas", "Cafe Costa",
    "Cafe De Olla", "Carne Seca Habanero", "Carne Seca Original", "Cheetos",
    "Cheetos Flamin Hot", "Chokis", "Ciel Mineralizada", "Club Sandwich",
    "Coca Cola Dieta", "Coca Cola Regular", "Coca Sin Azucar", "Cuerno Clasico De Pavo",
    "Cuerno Individual Charter", "Dip De Queso", "Doritos Nacho", "Eco Holder",
    "Emperador Chocolate", "Emperador Vainilla", "Fanta De Naranja", "Fritos Limon Y Sal",
    "Frutos Secos Enchilados", "Galleta De Arandano Relleno De Q/Crema",
    "Galleta De Chispas De Chocolate", "Galleta De Chocolate", "Go Nuts",
    "Gomita Enchilada La Cueva", "Jugo De Mango", "Jugo De Manzana", "Kacang Flaming Hot",
    "Leche De Chocolate Sc", "Leche De Fresa Sc", "Luxury Nut Mix", "Mafer Sin Sal",
    "Maxi Combo", "Mega Cuerno Clasico", "Muffin Integral", "Nishikawa Japones",
    "Nishikawa Salado", "Nissin Dark Dragon", "Nissin Fuego", "Nissin Limon Y Habanero",
    "Nissin Picante", "Nissin Res", "Nueces De Arbol Mix", "Nutty Berry Mix",
    "Panini Clasico", "Panini Integral", "Protein Adventure", "Quaker Avena Frutos Rojos",
    "Quaker Avena Moras", "Quaker Granola", "Quaker Natural Balance", "Rancheritos",
    "Ruffles Queso", "Sabritas Flamin Hot", "Sabritas Originales", "Salsa Botanera",
    "Sidral Mundet", "Sprite", "Te Frutos Rojos", "Te Manzanilla Jengibre", "Te Relax",
    "Te Vainilla", "Tostitos", "Tostitos Nachos Con Dip"
]

df_new_columns = pd.DataFrame(y_pred_2024, columns=new_column_names)

# Añadir las nuevas columnas al costado derecho del DataFrame original
df_final = pd.concat([df3.reset_index(drop=True), df_new_columns], axis=1)
df_final

,Flight_ID,Capacity,tiempoVuelo,Destination_Type_Ciudad Fronteriza,Destination_Type_Ciudad Principal,Destination_Type_Ecoturismo,Destination_Type_MX Amigos y Familia,Destination_Type_Playa,Origin_Type_Ciudad Fronteriza,Origin_Type_Ciudad Principal,...,Sabritas Originales,Salsa Botanera,Sidral Mundet,Sprite,Te Frutos Rojos,Te Manzanilla Jengibre,Te Relax,Te Vainilla,Tostitos,Tostitos Nachos Con Dip
0,c8e2539e6b04432617d945b30bdd9d69,180,75.0,False,False,False,False,True,False,True,...,1,0,0,0,0,0,0,0,0,0
1,5717f9937ebe931d3b285ae4c193bb6b,180,45.0,False,False,False,False,True,False,True,...,3,0,1,1,0,0,0,0,0,0
2,dbddb026c6d57cd24ea29936ea5cd171,180,75.0,False,False,False,False,True,False,True,...,2,0,0,1,0,0,0,0,0,0
3,cfae882b6e5a25c979a7455989db993e,186,100.0,True,False,False,False,False,False,True,...,2,0,0,1,0,0,0,0,0,0
4,c6eb44f49d835a76c865c75d1026aa25,180,50.0,False,False,False,True,False,False,True,...,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1709,764f5b604b85a8fd0e88a941139aefc2,180,200.0,False,False,False,False,True,False,True,...,3,0,1,1,0,0,0,0,0,0
1710,165c65a0cc06f7bd9cc4515a2b7eedb7,240,180.0,False,False,False,False,True,False,True,...,5,0,1,2,0,0,0,0,1,0
1711,629413c278109e02284933edba9cff60,240,180.0,False,False,False,False,True,False,True,...,5,0,1,2,0,0,0,0,1,0
1712,641573d2c38d4990397c7eb95100cd7a,240,180.0,False,False,False,False,True,False,True,...,5,0,1,2,0,0,0,0,1,0
1713,eba9e21e695c50aabf88a4c3364eb21d,240,180.0,False,False,False,False,True,False,True,...,5,0,1,2,0,0,0,0,1,0

In [55]:
df_final.to_csv("PrediccionFinal.csv", index=False)